{% extends 'base.html' %}
{% load static %}
{% block content %}
 <div class="mt-4 p-5 bg-warning text-dark rounded">
        <center><h1>สินค้า</h1></center>
     <p>
        <div class="row">
            <div class="col-lg-4">
                <div class="card" style="width: 18rem;">
                <img src="{% static 'images/aaa.webp' %}" class="card-img-top" alt="...">
                <div class="card-body">
                    <font color="black">
                <h5 class="card-title">Nike Gripknit Phantom GX Elite FG   ฿8,500 </h5></font>
                <font color="black"><p class="card-text">รองเท้าสตั๊ดฟุตบอลสำหรับพื้นสนามทั่วไป</p></font>
                <a href="https://www.nike.com/th/t/-gripknit-phantom-gx-elite-fg-6t4Xff/DC9968-446" class="btn btn-danger">ดูสินค้า</a>
                    </div>
                </div>
                </div>

            <div class="col-lg-4">
                <div class="card" style="width: 18rem;">
                <img src="{% static 'images/sup.webp' %}" class="card-img-top" alt="...">
                <div class="card-body">
                    <font color="black">
                <h5 class="card-title">Nike Zoom Mercurial Vapor 15 Elite CR7 FG ฿9,400 </h5></font>
                <font color="black"><p class="card-text">รองเท้าสตั๊ดฟุตบอลสำหรับพื้นสนามทั่วไป</p></font>
                <a href="https://www.nike.com/th/t/-zoom-mercurial-superfly-9-elite-km-fg-RbvQKW/DO9342-694" class="btn btn-danger">ดูสินค้า</a>
                    </div>
                </div>
                </div>

            <div class="col-lg-4">
                <div class="card" style="width: 18rem;">
                <img src="{% static 'images/tie_.webp' %}" class="card-img-top" alt="...">
                <div class="card-body">
                    <font color="black">
                <h5 class="card-title">Nike Tiempo Legend 9 Elite FG  ฿7,900</h5></font>
                <font color="black"><p class="card-text">รองเท้าสตั๊ดฟุตบอลสำหรับพื้นสนามทั่วไป</p></font>
                <a href="https://www.nike.com/th/t/-tiempo-legend-9-elite-fg-cx8Zjd/CZ8482-075" class="btn btn-danger">ดูสินค้า</a>
                    </div>
                </div>
                </div>

            <p>

            <div class="col-lg-4">
                <div class="card" style="width: 18rem;">
                <img src="{% static 'images/copa.jpg' %}" class="card-img-top" alt="...">
                <div class="card-body">
                    <font color="black">
                <h5 class="card-title">รองเท้าฟุตบอล COPA PURE 1.FIRM GROUND ฿7,800</h5></font>
                <font color="black"><p class="card-text">รองเท้าสตั๊ดฟุตบอลสำหรับพื้นสนามทั่วไป</p></font>
                <a href="https://www.adidas.co.th/th/-copa-pure-1.-firm-ground/HQ8904.html" class="btn btn-danger">ดูสินค้า</a>
                    </div>
                </div>
                </div>

            <div class="col-lg-4">
                <div class="card" style="width: 18rem;">
                <img src="{% static 'images/add.jpg' %}" class="card-img-top" alt="...">
                <div class="card-body">
                    <font color="black">
                <h5 class="card-title">COPA SENSE.1 FIRM GROUND ฿7,800</h5></font>
                <font color="black"><p class="card-text">รองเท้าสตั๊ดฟุตบอลสำหรับพื้นสนามทั่วไป</p></font>
                <a href="https://www.adidas.co.th/th/-copa-sense.1-firm-ground/GW3605.html" class="btn btn-danger">ดูสินค้า</a>
                    </div>
                </div>
                </div>

            <div class="col-lg-4">
                <div class="card" style="width: 18rem;">
                <img src="{% static 'images/pue.webp' %}" class="card-img-top" alt="...">
                <div class="card-body">
                    <font color="black">
                <h5 class="card-title">COPA PURE+ FIRM GROUND ฿10,500</h5></font>
                <font color="black"><p class="card-text">รองเท้าสตั๊ดฟุตบอลสำหรับพื้นสนามทั่วไป</p></font>
                <a href="https://www.adidas.co.th/th/-copa-pure_-firm-ground/HQ8895.html" class="btn btn-danger">ดูสินค้า</a>
                    </div>
                </div>
                </div>
        </div>
    </div><br>
{% endblock %}