{% extends 'base.html' %}
{% load static %}
{% block content %}
 <div class="mt-4 p-5 bg-light text-dark rounded">
        <center><h1>สิ่งที่สนใจ</h1></center>
     <p>
        <div class="row">
     <div class="card mb-3" style="max-width: 1500px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="{% static 'images/ppp.png' %}" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h2 class="card-title">ฮาร์ลีย์-เดวิดสัน Harley-Davidson</h2>
        <p class="card-text">ฮาร์ลีย์-เดวิดสัน  Harley-Davidson รู้จักกันดีในชื่อ ฮาร์ลียส์ (Harleys) หรือในเมืองไทยนิยมเรียกกันว่า ฮาร์เล่ย์ เป็นบริษัทผลิตรถจักรยานยนต์
                    จากสหรัฐอเมริกา มีสำนักงานใหญ่อยู่ที่มิลวอกี รัฐวิสคอนซิน ซึ่งฮาร์ลีย์-เดวิดสันนี้ เป็นหนึ่งในสองบริษัทผลิตมอร์เตอร์ไซค์ที่ยังคงดำเนินการอยู่
                    (อีกบริษัทคือ วิกตอรี) ลักษณะเด่นของรถของบริษัทนี้ คือเป็นรถที่มีลักษณะใหญ่ การออกแบบเฉพาะตัวและเสียงเครื่องยนต์ที่แตกต่าง
                    ฮาร์ลีย์-เดวิดสัน เริ่มต้นในปี ค.ศ. 1903 จากวิลเลียม เอส. ฮาร์ลีย์ และ อาร์เธอร์ เดวิดสัน โดยก่อนหน้านี้ในปี 1901 ฮาร์ลีย์ได้เริ่มวางแผนในการนำเครื่อง 116 ซีซี
                    มาใช้กับโครงจักรยาน และหลังจากนั้น ในปี 1906 ทั้งคู่ได้ตั้งโรงงานขึ้น โดยถัดมาอีกหนึ่งปีหลังจากที่ ฮาร์ลีย์ได้จบการศึกษาจากมหาวิทยาลัยวิสคอนซิน แมดิสัน เขาก็ได้ขยายโรงงานเพิ่ม</p>
        <p class="card-text"><small class="text-muted"></small></p>
      </div>
    </div>
  </div>
</div>
        </div>
    </div><br>
{% endblock %}