{% extends 'base.html' %}
{% load static %}
{% block content %}
 <div class="mt-4 p-5 bg-light text-dark rounded">
        <center><h1>บุคคลต้นแบบ</h1></center>
        <div class="row">
             <center><div class="col-lg-4">
                <img src="{% static 'images/jaz.jpg' %}"
                     width="100%" height="100%">
            </div></center>
            <p>
            <div class="col-lg-12">
               <h2 align='center'> แจ๊ส สปุ๊กนิค ปาปิยอง กุ๊กกุ๊ก </h2>
                <h2 align='center'>  เป็นนักแสดงตลกที่มีมุกมากมายโดยเฉพาะมุกเลียนแบบบุคคล เช่น อ่าง เถิดเทิง, ตูน บอดี้สแลม, แด๊ก บิ๊กแอส จบการศึกษาระดับชั้นประถมที่โรงเรียนพิบูลประชาสรรค์ และจบการศึกษาเพียงระดับชั้นมัธยมศึกษาปีที่ 1 ที่โรงเรียนบางกะปิ เพราะติดเพื่อนไม่เข้าเรียนจนถูกไล่ออก ในเวลาต่อมาช่วยงานในคณะตลกเพราะอยากจะเป็นนักแสดงตลกตามพ่อ แม้ผู้เป็นพ่อแม่จะไม่เห็นด้วยก็ตาม
                    ภายหลังทำรายการ บริษัทฮาไม่จำกัด ได้รับสมญานามใหม่ว่า "เยลโล่ เชิญยิ้ม" นอกจากนี้ยังเป็นศิลปินแต่งเพลงจนมีแฟนคลับจำนวนมาก </h2>
            </div>
        </div>
    </div><br>
{% endblock %}